html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  padding: 0px;
  margin: 0px;
  padding-bottom: 50px;
  max-width: 100%;
  background: white;
}

.sticky-display {
  display: block;
  top: 0;
  opacity: 1;
  /* background-color: yellow; */

}


.sticky-display-disabled {
  top: -50px;
  display: none;
  opacity: 0;
  background-color: transparent;

}

#sticky-header {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: block;
  position: sticky;
  top: 0;
  z-index: 1;
}

.top-navigation {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: right;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 64px;
  width: 100%;
  background-color: #FFFFFF;
  justify-content: center;
}

.top-navigation-shadow {
  box-shadow: 0px 1px 8px #E0E0E0;
}

.top-navigation span {
  margin-left: 8px;
  margin-right: 8px;
  transition: 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
  transition-delay: 0.1s;
}

.top-navigation span:hover {
  padding: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #e0e0e0;
  transform: scale(1.02);
  margin-right: 10px;
  cursor: pointer;
}

.top-navigation a {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  color: #727272;
  transition: 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
  transition-delay: 0s;
}

.top-navigation a:hover {
  color: black;
}



.underline--magical {
  background-image: linear-gradient(90deg, #ff5252 50%, #e53935 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.08em;
  background-position: 0% 90%;
  transition: background-size 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.underline--magical:hover {
  background-size: 100% 12%;
}

#header {
  display: block;
  padding: 0px;
  margin: auto;
  width: 100%;
}

#full-width-images {
  display: block;
  width: 100%;
  height: auto;
  background: linear-gradient(crimson, red);
}

#header-title {
  display: block;
  padding: 0px;
  margin: 0px;
  margin-left: 56px;
  padding-top: 72px;
  padding-bottom: 12px;
  width: 90%;
  font-family: 'Work Sans Bold', sans-serif;
  font-size: 56px;
  color: black;
  text-align: left;
}

#header-subtitle {
  display: block;
  padding: 0px;
  margin: 0px;
  margin-left: 56px;
  margin-bottom: 72px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 20px;
  width: 90%;
  color: #616161;
  text-align: left;
}

#introduction {
  display: block;
  margin: 0px;
  margin-left: 56px;
  padding-right: 24px;
  width: 80%;
  max-width: 900px;
}

#introduction p {
  font-family: 'Varela Round', sans-serif;
  font-size: 22px;
  color: #032535;
  line-height: 2;
  text-align: left;
}

.seperator-heading {
  display: block;
  margin: auto;
  margin-top: 60px;
  height: 12px;
  width: 100%;
  /* background-color: #032535; */
  background-image: linear-gradient(to bottom, #FAFAFA, #F9f9f9)
}

.full-image img{
  display: block;
  padding: 0px;
  margin: auto;
  width: 100%;
}

.contributors {
  display: block;
  margin: auto;
  margin-top: 60px;
  margin-left: 56px;
  padding-top: 24px;
  width: 80%;
}

.contributors h1 {
  display: block;
  padding: 0px;
  margin: 0px;
  /* margin-left: 56px; */
  padding-top: 40px;
  padding-bottom: 12px;
  /* width: 90%; */
  font-family: 'Work Sans Bold', sans-serif;
  font-size: 40px;
  color: black;
  text-align: left;
}

.contributors p {
  font-family: 'Varela Round', sans-serif;
  font-size: 22px;
  color: #032535;
  line-height: 2;
  text-align: left;
}

.grid-container {
  display: grid;
  width: 90%;
  margin-left: 56px;
  grid-template-columns: repeat(auto-fill, minmax(289px, 1fr));
  grid-template-rows: repeat(auto, minmax(auto, 100px));
  /* background-color: #2196F3; */
  /* padding: 16px; */
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 16px;
  justify-content: flex-start;
}

.contact-cards {
  display: block;
  /* margin:auto; */
  width: 100%;
  max-width: 320px;
  box-shadow: 0px 2px 4px #e0e0e0;
  background-color: white;
  border-radius: 4px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.contact-cards:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px #E0E0E0;
}

.contact-cards a {
  text-decoration: none;
}

.contact-cards img {
  width: 100%;
  height: inherit;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 0px 0px;
  border-bottom-left-radius: 0px 0px;
  transition: 1.2s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.contact-cards img:hover {
  transform: scale(1.01);
  overflow: visible;
}

.contact-cards h1 {
  font-family: 'Valera Round', sans-serif;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  margin: 0px;
  font-size: 20px;
  color: #424242;
}

.contact-cards p {
  font-family: 'Roboto Mono', sans-serif;
  margin: 0px;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 24px;
  font-size: 16px;
  color: #727272;
}

@media only screen and (max-width: 650px) {
  #sticky-header {
    display: none;
  }

  #header-title {
    padding-top: 24px;
    padding-bottom: 12px;
    width: 100%;
    font-family: 'Work Sans Medium', sans-serif;
    font-size: 36px;
  }

  #header-subtitle {
    display: block;
    padding: 0px;
    margin: auto;
    /* padding-bottom: 64px; */
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
    width: 90%;
    color: #616161;
    text-align: left;
  }
}
